LDAP_BASE_DN="ou=people,dc=ewnix,dc=net" 
LDAP_USERNAME="phluxeternus" 
LDAP_PASSWORD="g7klmnbc3n" 
HTTP_PORT="3000" 
HTTP_PROTO="http" 
HTTP_HOST="localhost:5173" 
JWT_SECRET="ASDFOUYDF&^DYVFUVSDF" 
MYSQL_USER="phlux" 
MYSQL_PASSWORD="VeryGood21\!" 
MYSQL_HOST="127.0.0.1" 
MYSQL_DATABASE="pickem"
